@charset "UTF-8";

/* ========== Font-Family ========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* ========== General-Styling ========== */
:root {
    --primary: #ffffff;
    --secondary: #afafb0;
    --accent: #e2c78c;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #111;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
a {
    color: var(--primary);
}

h2 {
    font-size: 1.7em;
    text-transform: uppercase;
}

h3 {
    font-size: 1.8em;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: var(--accent);
}

p {
    color: var(--secondary);
    line-height: 25px;
    max-width: 30em;
    margin: 1.5em 0;
    font-size: 0.9em;
}

.container {
    width: 80vw;
    max-width: 1250px;
    margin: 0 auto;
}

section,
footer {
    padding: 2em 2.5em;
}

.pb-2 {
    padding-bottom: 2em;
}

.pb-10 {
    padding-bottom: 10em;
}

.fs-2 {
    font-size: 2.5em;
}

.m-0 {
    margin: 0;
}

.fw-0 {
    font-weight: 0;
}


/* ========== Header ========== */
header {
    padding: 1.5em 1.5em 2.5em 1.5em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
}

.logo {
    font-size: 2em;
    font-weight: 600;
}

ul {
    list-style: none;
}

.menu li {
    display: inline-block;
    margin: 0 1.5em;
    font-size: 1.0em;
}

.menu-btn {
    color: var(--primary);
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s;
    display: none;
}

.menu-btn:hover {
    color: var(--accent);
}

.header-content {
    display: flex;
    gap: 2em;
    max-width: 32em;
}

.title {
    font-size: 3em;
    line-height: 1.3em;
}

.sub-heading {
    color: var(--primary);
    font-weight: 600;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    padding: 0.8em 2em;
    border: 1px var(--accent) solid;
    border-radius: 5em;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
    min-width: 10em;
    text-align: center;
}

.dot::before,
.pagination a::before {
    content: '';
    background: var(--accent);
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: inherit;
}

.link-active {
    color: var(--accent);
    border-bottom: 2px var(--accent) solid;
}

.header-text2 {
    padding: 5em 0em;
}

.header-text3 {
    padding: 4em 0em 1em 0em;
}


/* ========== Social Media Sidebar ========== */
.pagination, 
.social-media {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 4em;
    height: 70%;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.pagination {
    left: 0;
    border-right: 1px var(--secondary) solid;
}

.pagination a {
    display: block;
    position: relative;
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    margin: 2em 0;
}

.pagination a::before {
    width: 0.5em;
    height: 0.5em;
    background: var(--primary);
}

.pagination a:hover::before {
    background: var(--accent);
}

.pagination .active {
    border: 1px var(--primary) solid;
}

.pagination .active::before {
    background: var(--accent);
}


.social-media {
    right: 0;
    border-left: 1px var(--secondary) solid;
}

.social-media li {
    font-size: 1.1em;
    margin: 2em 0;
}


/* ========== About Section ========== */
.about {
    background: linear-gradient(135deg, #252628, #17181a);
}

.about .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}

.about img {
    width: 50%;
    filter: drop-shadow(0 0 1.5em rgba(0, 0, 0, .5));
    border-radius: 0.9em;
}

/* ========== Pet Peeve Section ========== */
.pet-peeve .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5em;
}

.pet-peeve img {
    width: 50%;
    filter: drop-shadow(0 0 1.5em rgba(0, 0, 0, .5));
    border-radius: 0.9em;
}


/* ========== Fun Facts Section ========== */
#fun-facts {
    background: linear-gradient(135deg, #303134, #1f2123);
}

.fun-facts h2 {
    text-align: center;
    margin-bottom: 2em;
}

.fun-facts .info>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fun-facts img {
    width: 8em;
    justify-self: right;
    margin-right: 6em;
    padding: 4em 0;
}

.info-text {
    padding-left: 6em;
    border-left: 1px var(--accent) solid;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

.info-text::before,
.info-text::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.info-text::before {
    background: var(--accent);
    width: 0.8em;
    height: 0.8em;
    left: -0.43em;
}

.info-text::after {
    border: 1px var(--primary) solid;
    width: 1.8em;
    height: 1.8em;
    left: -0.97em;
}

.fun-facts .btn {
    text-align: center;
}

.contact {
    text-transform: uppercase;
    font-size: 1.3em;
}

/* ========== Contact Form ========== */

form{
    width: 45%;
    float: left;
    padding: 30px 0;
    margin-bottom:80px;
}

textarea{
    outline: none;
    border: 2px solid #9db1b1;
    border-radius: 4px;
}

input[type=text], input[type=email], input[type=tel], textarea{
    padding: 5px;
    margin: 6px 0 20px 0;
    border: 2px solid #9db1b1;
    border-radius: 4px;
}

/*Reference: https://www.w3schools.com/css/css_form.asp*/
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus, select:focus{
    background-color: lightgoldenrodyellow;
    border: 2px solid #555;
}

select{
    border: 2px solid #9db1b1;
    height:auto;
    padding: 10px 20px;
    border-radius: 4px;
    width: 100%;
}

select:invalid, select option[value=""] {
  color: #999999;
}
  
input[type=submit]{
    background-color: var(--secondary);
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    display: block;
    margin-top: 40px;
    cursor: pointer;
}

input[type=submit]:hover{
    transition: 1500ms;
    background-color: var(--accent);
}

.address{
    width: 45%;
    float:right;
    padding: 30px 0;
}

/* ========== Footer ========== */
footer {
    text-align: center;
}

.footer-menu {
    margin-bottom: 2em;
}

.footer-menu li {
    margin: 1em 0;
    font-size: 1.2em;
}

.footer-social li {
    display: inline-block;
    margin: 0 0.5em;
}

.footer-social li a {
    color: var(--accent);
    font-size: 1.4em;
}

.footer-social li a:hover {
    color: var(--primary);
}

@keyframes expand {
    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 1000px) {
    .header-content {
        flex-direction: column;
    }

    .header-images {
        margin-top: 5em;
        justify-content: center;
    }

    .header-images img {
        width: 30vw;
        margin: 0;
    }
}

@media screen and (min-width: 1000px) {
    .title {
        font-size: 4.5em;
    }
}

@media screen and (max-width: 900px) {
    .social-media {
        display: none;
    }

    .pagination {
        background: #111;
        top: unset;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border: none;
        border-top: 1px var(--secondary) solid;
        height: 0;
        width: 100%;
    }

    .pagination ul {
        display: flex;
        gap: 2em;
    }
}

@media screen and (max-width: 800px) {
    .menu {
        background: #17181a;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        padding: 0 1.5em;
        margin-top: 5.5em;
        z-index: 3;
        overflow: hidden;
        transition: 0.4s;
    }

    /* Toggle class used later in JavaScript  */
    .navbar .menu-open {
        height: 13.5em;
    }

    .menu li {
        display: block;
        margin: 1.5em 0;
    }

    .menu-btn {
        display: block;
    }

    .about .container {
        flex-direction: column;
    }

    .fun-facts .info>div {
        grid-template-columns: 1fr;
    }

    .fun-facts .info-text {
        border: none;
        padding: 0;
    }

    .fun-facts img {
        margin: 0;
        justify-self: center;
    }

    .info-text::before,
    .info-text::after {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    html {
        font-size: 14px;
    }
}

